## Lecture 3 (26 Oct 2024)

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/kosavina/hse-python-2024/blob/main/Lecture_3.ipynb)

# Conditional Execution (Control Flow)

Conditional statements allow your program to execute certain pieces of code based on specific conditions.

## If Statements

The if statement is used to test a condition. If the condition is True, the indented block of code under the if statement gets executed.

In Python, several values evaluate to True when used in a conditional context. Here are some key cases:

1. Non-zero Numbers: Any integer or float that is not zero (1, -1, 3.14, etc.)
2. Non-empty Strings: Any string with at least one character ("Hello", " "), except the empty string ""
3. Non-empty Data Structures: Lists, dictionaries, tuples, and sets with at least one element ([1], {0: "value"}, ("a",), {1})
4. Custom Objects: Any instance of a class, unless it has a __bool__ or __len__ method that returns False or zero
5. True: The Boolean literal True itself
6. Non-None Values: Any object that isn’t explicitly None (such as instances of classes, functions, and other data types)

These values will make a conditional statement like if <value>: execute the block because they are truthy.

![image.png]()

```python
if condition:
    # Code to execute if condition is True
```

In [ ]:
age = 18

if age >= 18:
    print("You are eligible to vote.")

You are eligible to vote.

## Else Statements

The else statement can be used to execute code when the if condition is False.

```python
if condition:
    # Code if condition is True
else:
    # Code if condition is False
```

In [ ]:
age = 16

if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

You are not eligible to vote.

## Elif Statements

The elif (short for “else if”) statement allows you to check multiple conditions.

```python
if condition1:
    # Code if condition1 is True
elif condition2:
    # Code if condition2 is True
else:
    # Code if all conditions are False
```

In [ ]:
score = 85

if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
else:
    print("Grade: C")

Grade: B

## Nested Conditions
You can have conditions within conditions.

In [ ]:
num = 10

if num > 0:
    print("Positive number")
    if num % 2 == 0:
        print("Even number")
    else:
        print("Odd number")
else:
    print("Negative number")

Positive number
Even number

## Logical Operators

Logical operators allow you to combine multiple conditions.

* and: True if both conditions are True
* or: True if at least one condition is True
* not: Inverts the truth value

In [ ]:
age = 25
income = 50000

if age >= 18 and income >= 30000:
    print("You are eligible for a credit card.")

You are eligible for a credit card.

# Loops
Loops are used to execute a block of code repeatedly.

## While Loops

A while loop executes as long as a specified condition is True.

```python
while condition:
    # Code to execute repeatedly
```

In [ ]:
count = 1

while count <= 5:
    print("Count:", count)
    count += 1

Count: 1
Count: 2
Count: 3
Count: 4
Count: 5

## For Loops

A for loop is used for iterating over a sequence (like a list, tuple, dictionary, set, or string).

```python
for variable in sequence:
    # Code to execute repeatedly
```

In [ ]:
fruits = ["apple", "banana", "cherry"]

for i in fruits:
    print("I like", i)

I like apple
I like banana
I like cherry

## Using range() Function

In [ ]:
for i in range(5):
    print("Number:", i)

Number: 0
Number: 1
Number: 2
Number: 3
Number: 4

## Loop Control Statements

Control statements change the execution flow of loops.

### Break Statement

Exits the loop immediately.

In [ ]:
for i in range(1, 11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [ ]:
%%timeit

for i in range(int(1.e+8)):
  break

316 ns ± 3.63 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [ ]:
%%timeit

for i in list(range(int(1.e+8))):
  break

5.18 s ± 512 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

### Continue Statement

Skips the current iteration and continues with the next.

In [ ]:
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

1
2
4
5

### Pass Statement

Does nothing; it acts as a placeholder.

In [ ]:
for i in range(5):
    pass  # To be implemented later

### else Clauses on Loops

In a for or while loop the break statement may be paired with an else clause. If the loop finishes without executing the break, the else clause executes.

In a for loop, the else clause is executed after the loop finishes its final iteration, that is, if no break occurred.

In a while loop, it’s executed after the loop’s condition becomes false.

In either kind of loop, the else clause is not executed if the loop was terminated by a break. Of course, other ways of ending the loop early, such as a return or a raised exception, will also skip execution of the else clause.

# map(), filter(), and reduce()

## Overview

* map(): Applies a function to every item of an iterable (e.g., list, tuple) and returns a map object (an iterator).
* filter(): Constructs an iterator from elements of an iterable for which a function returns true.
* reduce(): Applies a function of two arguments cumulatively to the items of an iterable, reducing the iterable to a single value.

## map() Function

The map() function allows you to apply a function to all the items in an input list or iterable.

```python
map(function, iterable)
```

* function: The function to apply to each item.
* iterable: The iterable whose items you want to process.

Returns a map object (which is an iterator) containing the results.

In [ ]:
def square(y):
    return y * y

numbers = [1, 2, 3, 4, 5]
squared_numbers = map(square, numbers)
print(squared_numbers)
print(list(squared_numbers))

<map object at 0x7a0a597c0220>
[1, 4, 9, 16, 25]

In [ ]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = map(lambda x: x * x, numbers)

print(list(squared_numbers))

[1, 4, 9, 16, 25]

You can pass multiple iterables to map() if the function accepts multiple arguments.

In [ ]:
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]
sum_numbers = map(lambda x, y: x + y, numbers1, numbers2)

print(list(sum_numbers))

[5, 7, 9]

## filter() Function

The filter() function constructs an iterator from elements of an iterable for which a function returns True.

```python
filter(function, iterable)
```
* function: A function that returns a boolean value (True or False).
* iterable: The iterable to be filtered.

function: A function that returns a boolean value (True or False).
	•	iterable: The iterable to be filtered.

In [ ]:
def is_even(number):
    return number % 2 == 0

numbers = [1, 2, 3, 4, 5]
even_numbers = filter(is_even, numbers)

print(list(even_numbers))

[2, 4]

In [ ]:
numbers = [1, 2, 3, 4, 5]
odd_numbers = filter(lambda x: x % 2 != 0, numbers)

print(list(odd_numbers))

[1, 3, 5]

## reduce() Function

The reduce() function applies a function of two arguments cumulatively to the items of an iterable, reducing the iterable to a single value.

```python
from functools import reduce
reduce(function, iterable[, initializer])
```

* function: A function of two arguments.
* iterable: The iterable to be reduced.
* initializer (optional): A value to start the accumulation.

Returns a single value.

In [ ]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]
sum_numbers = reduce(lambda x, y: x + y, numbers)

print(sum_numbers)

15

In [ ]:
from functools import reduce

numbers = [5, 2, 8, 1, 9]
max_number = reduce(lambda x, y: x if x > y else y, numbers)

print(max_number)

## Combining map(), filter(), and reduce()

You can combine these functions to perform complex data processing tasks.

Example: Sum of Squares of Even Numbers

Let’s find the sum of the squares of even numbers in a list.

In [ ]:
from functools import reduce

numbers = [1, 2, 3, 4, 5, 6]

# Step 1: Filter even numbers
even_numbers = filter(lambda x: x % 2 == 0, numbers)
even_numbers = list(even_numbers)
print(even_numbers)
# Step 2: Square each even number
squared_even_numbers = map(lambda x: x * x, even_numbers)
# print(list(squared_even_numbers))

# # Step 3: Sum the squared even numbers
sum_of_squares = reduce(lambda x, y: x + y, squared_even_numbers)

print(sum_of_squares)

[2, 4, 6]
56

# Comprehensions
Comprehensions in Python offer a concise way to create collections like lists, tuples, dictionaries, and sets by applying expressions to each item in an iterable. Here’s a breakdown of each type with examples:

## List Comprehension

A list comprehension generates a new list by transforming elements in an existing iterable, typically with a single line of code.

``` python
[expression for item in iterable if condition]
```

In [ ]:
numbers = [1, 2, 3, 4, 5]
squares = [x**2 for x in numbers]
# Output: [1, 4, 9, 16, 25]

In [ ]:
even_squares = [x**2 for x in numbers if x % 2 == 0]
# Output: [4, 16]
print(even_squares)

[4, 16]

## Tuple Comprehension (using tuple() with generator expressions)

Python doesn’t have a dedicated tuple comprehension; instead, we use a generator expression inside the tuple() function to create a tuple.

``` python
tuple(expression for item in iterable if condition)
```

In [ ]:
numbers = [1, 2, 2, 3, 4, 4, 5]
squared_tuple = tuple(x**2 for x in numbers)
print(squared_tuple)
# Output: (1, 4, 9, 16, 25)

(1, 4, 4, 9, 16, 16, 25)

## Dictionary Comprehension

Dictionary comprehension is a way to construct dictionaries by specifying both keys and values.

``` python
{key_expression: value_expression for item in iterable if condition}
```

In [ ]:
words = ["apple", "banana", "cherry"]
word_lengths = {x: len(x) for x in words}
# Output: {'apple': 5, 'banana': 6, 'cherry': 6}
print(word_lengths)

{'apple': 5, 'banana': 6, 'cherry': 6}

In [ ]:
numbers = [1, 2, 2, 3, 4, 4, 5]
square_dict = {x: x**2 for x in numbers if x % 2 == 0}
print(square_dict)
# Output: {2: 4, 4: 16}

{2: 4, 4: 16}

## Set Comprehension

A set comprehension generates a set by applying an expression to each item in an iterable. It follows the same syntax as list comprehension but uses curly braces {}.

``` python
{expression for item in iterable if condition}
```

In [ ]:
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_squares = {x**2 for x in numbers}
# Output: {1, 4, 9, 16, 25}

In [ ]:
even_squares = {x**2 for x in numbers if x % 2 == 0}
# Output: {4, 16}

Summary

* List Comprehension:
``` python
[expression for item in iterable if condition]
```
* Tuple Comprehension:
``` python
tuple(expression for item in iterable if condition)
```
* Dictionary Comprehension:
``` python
{key_expression: value_expression for item in iterable if condition}
```
* Set Comprehension:
``` python
{expression for item in iterable if condition}
```

These comprehensions provide a clear, concise, and often more readable way to build collections in Python.

# Exceptions

In Python, try...except...finally...else is a construct used to handle exceptions, execute cleanup actions, and specify code that should run only if no exceptions occur. Here’s a breakdown of how each part works together:

``` python
try:
    # Code that might raise an exception
except SomeException:
    # Code that runs if a specific exception occurs
else:
    # Code that runs only if no exceptions occur in the try block
finally:
    # Code that always runs, regardless of an exception
```

* **try** Block: The code in this block is executed first. If an exception occurs, the rest of the try block is skipped, and control is passed to the except block. If no exception occurs, control passes to the else block.
* **except** Block: This block catches and handles specific exceptions. If an exception matching the one specified in except is raised in the try block, the except block runs. If no exception occurs, except is skipped.
* **else** Block: The else block runs only if no exceptions are raised in the try block. This is useful for code that should only execute if the try block was successful.
* **finally** Block: The finally block always executes, regardless of whether an exception was raised or not. It’s often used for cleanup actions (e.g., closing files or network connections).

In [ ]:
def divide_numbers(a, b):
  return a / b

In [ ]:
divide_numbers(6, 0)

ZeroDivisionError: division by zero

In [ ]:
def divide_numbers(a, b):
    try:
        result = a / b
    except:
        print("Error: Division by zero is not allowed.")
    else:
        print("Division successful. The result is:", result)
    finally:
        print("Execution of the finally block: Clean up resources if needed.")

In [ ]:
divide_numbers(10, 2)  # This should complete successfully and run the else block

Division successful. The result is: 5.0
Execution of the finally block: Clean up resources if needed.

In [ ]:
divide_numbers(10, 0)  # This  raise an exception and skip the else block

Division successful. The result is: 0
Execution of the finally block: Clean up resources if needed.

In [ ]:
%%timeit

for i in range(int(1.e+10)):
  break

In [ ]:
%%timeit

for i in list(range(int(1.e+7))):
  break

In [ ]:
3 / rtertery

NameError: name 'rtertery' is not defined

# Examples

Write a Python program to count the number of characters (character frequency) in a string.

Sample String : google.com'

Expected Result : {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [ ]:
def f(s):
  acc = {}

  for i in s:
    if i in acc:
      acc[i] = acc[i] + 1
    else:
      acc[i] = 1

  return acc

In [ ]:
from collections import Counter

s = 'sdfdfgsdnwef sdf sdf sdfsdf sfsdfs'
dict(Counter(s))

{'s': 9, 'd': 8, 'f': 9, 'g': 1, 'n': 1, 'w': 1, 'e': 1, ' ': 4}

## Ex 2

Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each string.

In [ ]:
def func(a, b):
  a_upd = b[:2] + a[2:]
  b_upd = a[:2] + b[2:]
  result = a_upd + ' ' + b_upd
  return result

In [ ]:
a = 'qweerwt'
b = 'tyuyrt'

c = func(a, b)

In [ ]:
print(c)

tyeerwt qwuyrt

Write a Python program to find the first repeated character in a given string.

In [ ]:
def f(s):
  acc = []

  for i in s:
    if i not in acc:
      acc.append(i)
    else:
      break

  return i


f(s)

'a'

Write a Python program to sum all the items in a list.

In [ ]:
l = list(range(int(1.e7)))

In [ ]:
def f(l):
  acc = 0
  for i in l:
    acc += i
  return acc

In [ ]:
def f_sum(l):
  return sum(l)

In [ ]:
%%timeit

f(l)

751 ms ± 216 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit

f_sum(l)

80 ms ± 17.7 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
import numpy as np

In [ ]:
a = list(range(10))

In [ ]:
a_np = np.array(a)

In [ ]:
type(a_np)

numpy.ndarray

In [ ]:
l_1 = list(range(int(1.e6)))
l_2 = list(range(int(1.e6), 0, -1))

In [ ]:
%%timeit
acc = []
for i in range(len(l_1)):
  acc.append(l_1[i]**2 + l_2[i]**2)

1.01 s ± 295 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit
list(map(lambda x, y: x**2 + y**2, l_1, l_2))

854 ms ± 221 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
l_1_np = np.array(l_1)
l_2_np = np.array(l_2)

In [ ]:
%%timeit

l_1_np**2 + l_2_np**2

4.6 ms ± 81.7 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

Write a Python program to remove duplicates from a list.

In [ ]:
l = [1, 3, 4, 5, 6, 3, 3, 1, 8, 7, 4]

def f(l):
  acc = []

  for i in l:
    if i not in acc:
      acc.append(i)
  return acc

f(l)

[1, 3, 4, 5, 6, 8, 7]

In [ ]:
list(set(l))

[1, 3, 4, 5, 6, 7, 8]

In [ ]:
type(l_1_np)

numpy.ndarray

Write a Python program to find a list of integers with exactly two occurrences of nineteen and at least three occurrences of five. Return True otherwise False.

Input:

[19, 19, 15, 5, 3, 5, 5, 2]

Output:

True

Input:

[19, 15, 15, 5, 3, 3, 5, 2]

Output:

False

Input:

[19, 19, 5, 5, 5, 5, 5]

Output:

Truereduce()

In [ ]:
def f(l):
  return l.count(19) == 2 and l.count(5) >= 3

In [ ]:
f([19, 19, 15, 5, 3, 5, 5, 2])

True

Write a Python program to construct the following pattern, using a nested for loop.
```
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

In [ ]:
n = 5

In [ ]:
for i in range(n):
  print('* ' * i)
for i in range(5, 0, -1):
  print('* ' * i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
1 2 3 4 5 6 7 8 9

In [ ]:
1 2 3 4 5 4 3 2 1

In [ ]:
for i in range(1, 10):
  x = i - (i - 1) // 5 * i % 5 * 2
  print('* ' * x)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(-4, 5):
  print('* ' * (-abs(i) + 5))

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Write a Python script to concatenate the following dictionaries to create a new one.

In [ ]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 4: 60}

In [ ]:
{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 4: 60}

{1: 10, 2: 20, 3: 30, 4: 60, 5: 50}

In [ ]:
dic1.items()

dict_items([(1, 10), (2, 20)])

In [ ]:
acc = {}

dict_arr = [dic1, dic2, dic3]

for d in dict_arr:

  for k, v in d.items():
    acc[k] = v

acc

{1: 10, 2: 20, 3: 30, 4: 60, 5: 50}

In [ ]:
acc = {}
for d in dict_arr:
  acc.update(d)

acc

{1: 10, 2: 20, 3: 30, 4: 60, 5: 50}

In [ ]:
import sys
print(sys.version)

3.10.12 (main, Sep 11 2024, 15:47:36) [GCC 11.4.0]

In [ ]:
dic1 | dic2 | dic3

{1: 10, 2: 20, 3: 30, 4: 60, 5: 50}

In [ ]:
{'a':1}

{'a': 1}

In [ ]:
{**dic1, **dic2, **dic3}

{1: 10, 2: 20, 3: 30, 4: 60, 5: 50}

In [ ]:
{}

In [ ]:
def f(a, b, c):
  return a + b * c

In [ ]:
f(1, 2, 3)

7

In [ ]:
f(a=1, b=2, c=3)

7

In [ ]:
f(b=2, a=1, c=3)

7

In [ ]:
l = [1, 2, 3, 4]

In [ ]:
def f(a, b, c):
  return a + b * c

In [ ]:
d = {'a': 1, 'b': 2, 'c': 3}

In [ ]:
d = dict(a=1, b=2, c=3)

In [ ]:
d

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
f(a=d['a'], b=d['b'], c=d['c'])

7

In [ ]:
f(**d)

7

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
c = ['22', 'fdgf', 'fghgh', 'dfgfdg']
list(zip(a, b, c))

[(1, 4, '22'), (2, 5, 'fdgf'), (3, 6, 'fghgh')]

In [ ]:
a = [1, 3, 8]
b = [2, 4, 9]

In [ ]:
list(zip(a, b))

[(1, 2), (3, 4), (8, 9)]

In [ ]:
l = [(1, 2), (3, 4), (8, 9)]

In [ ]:
list(zip(*l))

[(1, 3, 8), (2, 4, 9)]